{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.
{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.

{deps, [
		{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
		{sync, ".*", {git, "https://github.com/rustyio/sync.git","master"}},
		{mongodb, ".*", {git, "git://github.com/comtihon/mongodb-erlang", "de619ce32519d4352442480dee7d96e4ac743d77"}},
		{poolboy, ".*", {git, "git://github.com/devinus/poolboy", "HEAD"}},
		{gnss_tools, ".*", {git, "ssh://git@git.wtf-rg.com:15616/gnss/gnss_tools.git", "HEAD"}},
		{eredis, ".*", {git, "git://github.com/wooga/eredis", "HEAD"}},
		{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "HEAD"}},
		{epgsql, ".*", {git, "git://github.com/epgsql/epgsql", "master"}},
		{bcrypt, ".*", {git, "https://github.com/smarkets/erlang-bcrypt.git", "master"}},
		{axiom, ".*", {git, "https://github.com/tsujigiri/axiom.git", "master"}}
]}.

{clean_files, [
	"erl_crash.dump"
]}.
